mixin company(data)
  +style('company')
  section.company: div.container
    div.company-wrapper
      div.columns-2
        h2.company-header Recreation Center for Kids near Chicago
        p.company-caption__large The military background of our veteran founders sparked the unique idea for Hot Ground Gym. 
      div.columns-2
        p.company-caption Our kids’ fitness approach is ideal for building physical and mental character while providing them with engaging indoor children’s activities that they’ll genuinely enjoy. Your kids will leave each session with strengthened problem-solving skills and help them build self-confidence. Our kids’ gym is perfect for families in Arlington Heights and nearby areas such as Palatine, Wheeling, and Buffalo Grove.
        a.company-link(href='') Learn More