@import 'mixins';

$large-size: 1320px;
$medium-size: 1024px;
$small-size: 768px;
$smallest-size: 480px;

$font-size-base: 14;
$line-heaight-base: 17px;
$font-family-base: 'Roboto', sans-serif;
$font-family-solid: 'Montserrat', sans-serif;
$font-family-header: 'Fugaz One', cursive;
$font-family-text: 'Open Sans', sans-serif;

$primary-1: #ae0032;
$primary-2: #455162;
$primary-3: #1f2f46;

$neutral-1: #0d1720;
$neutral-2: #636363;
$neutral-3: #dadada;
$neutral-4: #f2f2f2;
$neutral-5: #fcfbfa;

$gray-1: #F1F1F1;
$gray-2: #404040;
$gray-3: #292929;
$gray-4: #333C30;
$gray-5: #F8F8F8;
$gray-6: #D4D4D4;

$orange: #EB5B1F;
$orange-1:#B44619;
$orange-hover:#DC6331;

$green-1: #1B3A1B;
