include ../components/header/header.component.pug
include ../components/banner/banner.component.pug
include ../components/company/company.component.pug
include ../components/slider/slider.component.pug
include ../components/popup/popup.component.pug
include ../components/footer/footer.component.pug
