mixin header(data)
  +style('header')
  header.header

    section.address-section: div.container
      ul.address-list.list-reset
        li.address-item.address-item__time.hide_on_mobile Tues-Fri 11am-8pm, Sat 9am-5pm
        li.address-item.address-item__location Arlington Heights, IL
        li.address-item.address-item__phone.hide_on_mobile 847-227-8404
        li.address-item.address-item__location Libertyville, IL
        li.address-item.address-item__phone.hide_on_mobile 847-686-3610

    div.container
      div.menu-wrapper
        a.logotype-link(href='#').logotype-image: picture
          +image('images/hgg-logo.svg')
        a.btn.contacts-link.show_on_mobile_only(href='#') Contact us
        a.phone-button.show_on_mobile_only(href='#'): span.icon-phone-1 
        nav.main-menu
          ul.menu-list.list-reset
            li.menu-item: a.menu-link.link-reset(href='#') About us
            li.menu-item: a.menu-link.link-reset(href='#') Classes
            li.menu-item: a.menu-link.link-reset(href='#') Camps
            li.menu-item: a.menu-link.link-reset(href='#') Birthday Party
            li.menu-item: a.menu-link.link-reset(href='#') Team Building
            li.menu-item: a.menu-link.link-reset(href='#') Reviews
            li.menu-item: a.menu-link.link-reset(href='#') Blog
            li.menu-item: a.menu-link.link-reset(href='#') Contact Us
            li.menu-item.mobile-address-list.show_on_mobile_only 
              ul.address-list.list-reset
                li.address-item.address-item__time Tues-Fri 11am-8pm, Sat 9am-5pm
                li.address-item.address-item__location Arlington Heights, IL
                li.address-item.address-item__phone 847-227-8404
                li.address-item.address-item__location Libertyville, IL
                li.address-item.address-item__phone 847-686-3610
            li.menu-item.show_on_mobile_only 
              ul.social-list.list-reset.show_on_mobile_only
                li.social-item: a(href='').social-icon.social-icon__facebook
                li.social-item: a(href='').social-icon.social-icon__youtube
                li.social-item: a(href='').social-icon.social-icon__instagram
        button.burger-button.show_on_mobile_only: span.icon-burger 
